name: Build and Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Build
        env:
          # compute REPO_NAME from repo context
          # When using a custom domain we want assets to be referenced from '/'
          REPO_NAME: /
        run: |
          echo "Using REPO_NAME=${REPO_NAME}"
          REPO_NAME="${REPO_NAME}" npm run build

      - name: Add CNAME for custom domain
        if: always()
        run: |
          echo "ubanihosting.co.za" > docs/CNAME

      - name: Upload artifact for Pages
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./docs

  deploy-pages:
    needs: build-and-deploy
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
